.learn-accordion {
    max-width: 400px;
}

.learn-top-heading {
    background: #89253e;
    padding: 10px;
    border-radius: 3px;
    font-size: 0.6em;
    color: #fff;
    cursor: pointer;
}

.learn-top-heading h2 {
    pointer-events: none;
}

.learn-tab-content {
    background: #f3f3f3;
    overflow-y: hidden;
    height: 0;
    transition: 0.5s ease;
}

.learn-tab-content p {
    margin: 20px;
}

